@mixin flex($align-items: center, $justify-content: center, $flex-direction: row, $flex-wrap: null, $display: flex) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
}

// For use with absolute-positioned elements
@mixin vertical-align($align: center) {
  @if $align == center {
    top: 50%;
    transform: translateY(-50%);
  } @else if $align == top {
    top: 0%;
  } @else if $align == bottom {
    bottom: 0%;
  }
}