@import './header/instrument-select.scss';
@import './header/scrolling-ticker.scss';
@import './header/instrument-stats.scss';

.standard-ui-header {
  @include themify($themes) {
    background: themed('headerBackgroundColor');
  }
  @include flex(center, space-between);
  padding: 10px 0px;
  width: calc(100vw - 100px);
  
  .side-buttons {
    & > * {
      margin: 0px 5px;
    }
    @include flex(center, space-around);
    padding: 5px 25px;

    .notification-icon {
      cursor: pointer;
    }
  }
}