.signup-container {
  display: flex;
  & > div {
    width: 50%;
    height: 100vh;
    @media screen and (max-width: $medium-screen-width) {
      width: 0px;
    }
  }
  .signup-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $medium-screen-width) {
      width: 100%;
    }
    & > * {
      width: 300px;
      margin: 0 auto;
    }
    .logo {
      padding: 20px 40px;
      object-fit: contain;
    }
    .fields-container {
      input {
        width: 100%;
        padding: 7px;
        @media screen and (max-width: $medium-screen-width) {
          font-size: 16px;
        }
      }
      .field-label {
        display: none;
      }
      .field-content {
        position: relative;
        .form-icon-container {
          position: absolute;
          right: 5px;
          top: 10px;
          @include themify($themes) {
            color: themed('negativeColor');
          }
        }
      }
      &.signup-form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          'given-name surname'
          'email email'
          'password confirm-password'
          'recaptcha recaptcha';
        grid-gap: 20px;
        @media screen and (max-width: $medium-screen-width) {
          grid-template-areas:
            'given-name surname'
            'email email'
            'password password'
            'confirm-password confirm-password'
            'recaptcha recaptcha';
        }
        .given-name {
          grid-area: given-name;
        }
        .surname {
          grid-area: surname;
        }
        .email {
          grid-area: email;
          input {
            padding-left: 40px;
          }
          .field-content {
            position: relative;
            &::after {
              content: '\f0e0';
              position: absolute;
              font-family: $font-awesome;
              font-weight: $bold;
              font-size: 12px;
              left: 15px;
              @include vertical-align(center);
              @include themify($themes) {
                color: themed('textColor');
              }
            }
          }
        }
        .password {
          grid-area: password;
        }
        .confirm_password {
          grid-area: confirm-password;
        }
        .hide-show-password i {
          position: absolute;
          right: -16px;
          @include vertical-align(center);
        }
        .recaptcha {
          grid-area: recaptcha;
          justify-self: center;
        }
      }
    }
    .sign-up-link {
      @include themify($themes) {
        color: themed('buttonColor');
      }
      &:hover {
        opacity: 0.65;
      }
    }
    button.button {
      width: 100%;
      padding: 7px;
      margin: 15px 0px;
      @media screen and (max-width: $medium-screen-width) {
        font-size: 16px;
      }
    }
    .signup-text {
      margin-bottom: 25px;
      text-align: center;
      h3,
      p {
        margin-bottom: 15px;
      }
      @include themify($themes) {
        .error {
          color: themed('negativeColor');
        }
        .success {
          color: themed('positiveColor');
        }
      }
    }
    .links-container {
      @include flex(center, space-evenly);
      .sign-up-link {
        @include themify($themes) {
          color: themed('buttonColor');
        }
        &:hover {
          opacity: 0.65;
        }
      }
      a {
        @media screen and (max-width: $medium-screen-width) {
          font-size: 16px;
        }
      }
    }
    .loader-animation {
      @include flex();
    }
  }
  .signup-banner {
    background-image: url('../images/login-banner.png');
    background-size: cover;
    background-position: center center;
  }
}
